    #paragraph{
            color: aquamarine;
         }
         .paral2{color: chartreuse;}
          body{background-color: cornflowerblue;}
          h1{color: black;
            font-style: oblique;
            font:Ssans-serif;
            font-size:50px;
            text-align: center;
            text-shadow: 2Spx;}
          h2 {
            color: brown;
          font-size: 15px;}
          h3{font-size: 30px;font-style: italic;}























